
.navbar-brand{
    color:white !important;
    font-weight: bold;
}
.navbar-brand:hover{
    color:yellowgreen !important;
}
.navbar{
    background-color:darkblue;
}
.nav-link{
  color:white !important;
  font-weight: bold;
  
}
.nav-link:hover{
    color:yellowgreen !important;
}
.banner{
    background:url("../img/2.png") center/cover no-repeat;
    text-transform: capitalize;
    height:500px;
    align-items: center;
    color:white;
    display: flex;

    text-align: center;
    background-repeat: no-repeat;
    
}
.banner h1{
    font-size:90px;
    font-weight: bold;
   
}
.banner h2{
    font-weight: bold;
    font-size:45px;
    margin:25px;
}
.banner h2 span{
    font-size: 35px;
    color:darkblue;
    
}
.banner p{
   text-transform:none;
    font-size:20px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 1px;
    color:#000;
   
}
.hero{
    background-color:#CBD8E7;
    
}

.heroBtn{
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5rem 1rem;
    background: #0000000d;
    border-radius: 50px;
    font-weight: 500;
    margin-top:50px;
    background: darkblue;
    color:white;
}
.fa_gear{
    margin-right:10px;
}
.hero .headingText{
    color:#fff;  
         
}
.hero .headingText h1{
     color:darkblue;
     font-weight: bold;
     font-family: "Poppins", serif;
     font-weight: 700;
     font-style: normal;
  
      
}

.hero .headingText p{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}.dark-blue{
    color:darkblue;
    
}
.heroFooterBtn .firstButton{
    background-color: #007e8b99;
    width:150px;
    border-radius:50px;
}
.techSection{
    background:#b9c6d1;
}
.section_box:hover {
    background:#295077 !important;
    transform: scale(1.05);
    color:white;
    
}
.aboutMe{
    background:#b1cde97a;
}
.check{
    display: flex;
    /* justify-content: start; */
    align-items: baseline;
  
    gap: 12px;
}
.invoIcon{
   color:#295077;
}


































.footer{
    background:darkblue;
    color:white;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}
.footer_link a{
    padding: 10px;
    color:white;
    text-decoration: none;
}
.footer_link a:hover{
    text-decoration: underline;
}